@import "variables";
@import "bootstrap";
@import "bootstrap-override";
@import "select2.min";
@import "select2-bootstrap4.min";
@import "select2-override";
@import "jquery.toast.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flash-messages";
@import "navbar";
@import "pets";
@import "home";
@import "pagination";
@import "sessions";

body {
  padding: 60px 0 30px 0;
}
