@import "variables";
@import "bootstrap";
@import "bootstrap-override";
@import "select2.min";
@import "select2-bootstrap4.min";
@import "select2-override";
@import "flash-messages";
@import "navbar";
@import "pets";
@import "home";

body {
  padding: 60px 0 30px 0;
}
