.navbar-nav {
  .nav-item {
    .nav-link {
      padding: 0 0.85em;
    }

    &.active {
      .nav-link {
        color: $blue;
      }
    }

    .img-user {
      margin-top: -3px;
      max-width: 28px;
    }
  }
}
